# Getting Started

## Data Harmonization with `bdikit`

Data harmonization is the process of integrating and aligning data from different sources into a consistent format to ensure compatibility and interoperability across data analyses and systems. `bdikit` is a library the helps with key data harmonization steps:
- *Schema Mapping*: In this step, data from various sources are mapped to a unified schema or model. This involves identifying equivalent table columns and establishing relationships between disparate datasets.
- *Value Mapping (Data Standardization)*: This step involves converting data into a common format or structure, using consistent naming conventions, units, and coding systems to ensure uniformity.

In this example, we describe how `bdikit` can be used to harmonize datasets from two papers:
- Dou et al. (https://pubmed.ncbi.nlm.nih.gov/37567170/)
- Cao et al (https://www.cell.com/cell/fulltext/S0092-8674(21)00997-1).

#### Loading the data

First, import the `bdikit` library and other libraries.

In [1]:
import bdikit as bdi
import pandas as pd
from IPython.display import display, Markdown

Next, we load our source data using Pandas and select some columns we are interested in.

In [2]:
df_source = pd.read_csv("./datasets/Huang.csv")
# column_names = [
#     "Country",
#     "Gender",
#     "FIGO_stage",
#     "Path_Stage_Reg_Lymph_Nodes-pN",
#     "tumor_Stage-Pathological",
#     "Tumor_Focality",
# ]
# df_source = df_source[column_names]
df_source.head(10)

,case_id,age,gender,country,smoking_history,smoke_age_start,smoke_age_stop,num_smoke_per_day,num_pack_years_sm,smoking_second_hand,...,tumor_pathology_review,ESTIMATE_stromal_score,ESTIMATE_immune_score,CD3_IHC_count,stemness_score,mutation_count,neoAntigen_count,chr_instability_idx,integrated_subtype,transcriptomic_subtype
0,C3L-00977,56,Male,Russia,"Current reformed smoker, years unknown",NaN,NaN,20,NaN,Yes,...,SCC 80%,6825.995755,7989.115925,1.0,0.953243,106,0,2.003654,Basal,Mesenchymal
1,C3L-00987,61,Male,Ukraine,Current smoker: Includes daily and non-daily s...,18,NaN,20,43.0,Yes,...,SCC 90%;SCC 90%;SCC 80%;SCC 70%,5999.793467,4772.409716,0.0,0.825330,83,0,5.205612,CIN,Classical
2,C3L-00994,50,Male,Ukraine,Current reformed smoker within past 15 years,16,50,6,10.2,Exposure to secondhand smoke history not avail...,...,SCC 40%;SCC 70%;SCC 40%;SCC 75%,8924.036564,8176.233903,5.0,0.664581,67,0,1.684475,Immune,Mesenchymal
3,C3L-00995,56,Male,Ukraine,"Current reformed smoker, more than 15 years",25,56,20,31.0,Exposure to secondhand smoke history not avail...,...,SCC 90%;SCC 80%;SCC 40%;SCC 70%,8723.429667,8342.246345,70.0,0.539918,64,0,1.340483,Immune,Mesenchymal
4,C3L-00997,47,Male,Ukraine,"Current reformed smoker, more than 15 years",12,27,20,15.0,Yes,...,SCC 70%;SCC 70%,7025.911695,7445.251991,60.0,0.843765,129,0,3.906370,CIN,Classical
5,C3L-00999,56,Male,Russia,Current smoker: Includes daily and non-daily s...,20,NaN,20,36.0,Yes,...,SCC 80%;SCC 70%,8510.704551,8210.549555,30.0,0.548977,159,0,1.148834,Immune,Atypical
6,C3L-01138,62,Male,Ukraine,Current smoker: Includes daily and non-daily s...,8,NaN,20,54.0,Exposure to secondhand smoke history not avail...,...,SCC 70%,6283.423855,6407.893478,10.0,0.890790,187,1,3.924982,Basal,Classical
7,C3L-01237,57,Male,Ukraine,"Current reformed smoker, more than 15 years",17,20,40,6.0,Exposure to secondhand smoke history not avail...,...,SCC 80%,7175.667725,5720.287055,30.0,0.738328,141,1,4.286490,CIN,Classical
8,C3L-02617,64,Male,Bulgaria,Current smoker: Includes daily and non-daily s...,20,NaN,30,66.0,Yes,...,SCC 90%;SCC 80%;SCC 80%;SCC 80%;SCC 80%,6346.815584,6958.573390,NaN,0.906466,470,1,4.744818,CIN,Classical
9,C3L-02621,68,Male,Bulgaria,Current smoker: Includes daily and non-daily s...,38,NaN,30,45.0,Yes,...,SCC 70%;SCC 70%;SCC 70%;SCC 70%;SCC 65%,6806.384264,8039.787184,NaN,0.754950,358,0,1.774521,CIN,Atypical

Our goal is to harmonize the data from our source table (`dou.csv`) with the data from our target table `cao.csv`

In [3]:
df_target = pd.read_csv("./datasets/cao.csv")
df_target.head(5)

,case_id,tumor_included_for_the_study,normal_included_for_the_study,histology_diagnosis,age,sex,race,participant_country,tumor_site,tumor_focality,...,Islet_fraction,Stromal_fraction,Non_neoplastic_duct,Fat_fraction,Inflammation_fraction,Muscle_fraction,follow_up_days,vital_status,is_this_patient_lost_to_follow_up,cause_of_death
0,C3L-00102,yes,yes,PDAC,42,Male,White,United States,head,Unifocal,...,2,60,1,4,7,0,249.0,Deceased,No,pancreatic carcinoma
1,C3L-00189,yes,yes,PDAC,68,Female,NaN,Canada,head,Unifocal,...,1;3;2,75;55;53,2;1;0,0;6;0,7;30;25,0;0;0,1035.0,Deceased,No,pancreatic carcinoma
2,C3L-00277,yes,yes,PDAC,69,Male,White,Other,tail,Unifocal,...,0,55,0,0,5,0,610.0,Deceased,Yes,pancreatic carcinoma
3,C3L-00401,yes,yes,PDAC,62,Female,NaN,Canada,body,Unifocal,...,2;2;3,35;30;32,3;10;10,0;0;0,10;13;5,0;0;0,1228.0,Living,No,na
4,C3L-00640,yes,yes,PDAC,59,Female,White,United States,body,Unifocal,...,0;0,55;44,0;0,0;0,10;15,0;1,594.0,Living,No,na

#### Finding column matches between two tables

`bdi-kit` offers a suite of functions to help with data harmonization tasks.

For instance, it can help automatically discover one-to-one mappings between the source and target dataset columns.

To do so using `bdi-kit`, we can use the `match_schema()` function to match columns of the two schemas as follows.

In [4]:
schema_mapping = bdi.match_schema(df_source, df_target, method="ct_learning")
schema_mapping

Extracting features from 37 columns...

  0%|          | 0/37 [00:00<?, ?it/s]

Extracting features from 39 columns...

  0%|          | 0/39 [00:00<?, ?it/s]

                       source                                      target
0                     case_id                                     case_id
1                         age                                         age
2                      gender                                         sex
3                     country                         participant_country
4             smoking_history                     tobacco_smoking_history
5             smoke_age_start                                         age
6              smoke_age_stop                                         age
7           num_smoke_per_day                     tobacco_smoking_history
8           num_pack_years_sm                                         bmi
9         smoking_second_hand                     tobacco_smoking_history
10           smoking_inferred                     tobacco_smoking_history
11             alcohol_consum                         alcohol_consumption
12            num_yrs_alc_con                      Neoplastic_cellularity
13        tumor_site_original                                  tumor_site
14         tumor_site_curated                                  tumor_site
15             tumor_focality                              tumor_focality
16              tumor_size_cm                               tumor_size_cm
17            histologic_type                                     case_id
18           histologic_grade                    tumor_stage_pathological
19             tumor_necrosis                              tumor_necrosis
20           patho_staging_pt         pathologic_staging_primary_tumor_pt
21           patho_staging_pn  pathologic_staging_regional_lymph_nodes_pn
22  clinic_staging_dist_metas      clinical_staging_distant_metastasis_cm
23                tumor_stage                    tumor_stage_pathological
24                        P16                             Acinar_fraction
25              HPV_inference                         perineural_invasion
26       NAT_pathology_review                      Neoplastic_cellularity
27     tumor_pathology_review                            Stromal_fraction
28     ESTIMATE_stromal_score                            Stromal_fraction
29      ESTIMATE_immune_score                            Stromal_fraction
30              CD3_IHC_count                             Acinar_fraction
31             stemness_score                            Stromal_fraction
32             mutation_count                                         bmi
33           neoAntigen_count                      Neoplastic_cellularity
34        chr_instability_idx                                     case_id
35         integrated_subtype                                         bmi
36     transcriptomic_subtype                                         bmi

#### Finding value matches between two columns

Once the matching columns are identified, we can standardize data to ensure that no duplicate values represent the same entity/meaning.

To do that, `bdikit` provides the function `match_values()` to find values that should potentially be merged. The library supports multiple methods to perform this task, including syntactic and semantic matching algorithms. In this example, we use the `tfidf` method, which finds values based on the similarity of character n-grams. Please, refer to the [bdikit documentation](https://bdi-kit.readthedocs.io/) to learn more about the methods available.

In [5]:
# Matches values from each pair of source-target columns
value_matches = bdi.match_values(df_source, df_target, schema_mapping, method="tfidf")

# Print value matches
for match in value_matches:
    bdi.edit_match(match)
    bdi.view_match(match)
    display(
        Markdown(
            f"<br>**Source column:** {match.attrs['source']}<br>"
            f"**Target column:** {match.attrs['target']}<br>"
        )
    )
    display(match)

<br>**Source column:** Country<br>**Target column:** participant_country<br>

          source         target  similarity
0  United States  United States       1.000
1         Poland         Poland       1.000
2  Other_specify          Other       0.543
3            nan         Canada       0.339
4        Ukraine           None         NaN

<br>**Source column:** Gender<br>**Target column:** sex<br>

   source  target  similarity
0  Female  Female         1.0
1     nan    None         NaN

<br>**Source column:** FIGO_stage<br>**Target column:** tumor_stage_pathological<br>

  source     target  similarity
0    nan        NaN       1.000
1     II  Stage III       0.566
2   IIIA  Stage IIA       0.562
3   IIIB  Stage IIB       0.557
4     IA   Stage IA       0.491
5     IB   Stage IB       0.448
6  IIIC2  Stage III       0.361
7  IIIC1  Stage III       0.361
8    IVB   Stage IV       0.338

<br>**Source column:** Path_Stage_Reg_Lymph_Nodes-pN<br>**Target column:** pathologic_staging_regional_lymph_nodes_pn<br>

             source target  similarity
0               pN0    pN0       1.000
1               pNX    pNX       1.000
2  pN2 (FIGO IIIC2)    pN2       0.379
3  pN1 (FIGO IIIC1)    pN1       0.379
4               nan   None         NaN

<br>**Source column:** tumor_Stage-Pathological<br>**Target column:** tumor_stage_pathological<br>

      source     target  similarity
0   Stage IV   Stage IV       1.000
1        nan        NaN       1.000
2  Stage III  Stage III       1.000
3   Stage II  Stage III       0.897
4    Stage I   Stage IA       0.857

<br>**Source column:** Tumor_Focality<br>**Target column:** tumor_focality<br>

       source      target  similarity
0    Unifocal    Unifocal         1.0
1         nan         NaN         1.0
2  Multifocal  Multifocal         1.0

#### Generating a harmonized table

In [6]:
df_mapped = bdi.materialize_mapping(df_source, value_matches)
df_mapped

,participant_country,sex,tumor_stage_pathological,pathologic_staging_regional_lymph_nodes_pn,tumor_focality
0,United States,Female,Stage IA,pN0,Unifocal
1,United States,Female,Stage IV,pNX,Unifocal
2,United States,Female,Stage IA,pN0,Unifocal
3,NaN,NaN,NaN,NaN,NaN
4,United States,Female,Stage IA,pNX,Unifocal
...,...,...,...,...,...
99,None,Female,Stage IA,pNX,Unifocal
100,None,Female,Stage III,pN0,Unifocal
101,United States,Female,Stage III,pN0,Unifocal
102,None,Female,Stage IA,pN0,Unifocal
103,None,NaN,NaN,NaN,NaN

In [7]:
source_column_names = list(map(lambda m: m.attrs['source'], value_matches))
target_column_names = list(map(lambda m: m.attrs['target'], value_matches))
df_source[source_column_names]

,Country,Gender,FIGO_stage,Path_Stage_Reg_Lymph_Nodes-pN,tumor_Stage-Pathological,Tumor_Focality
0,United States,Female,IA,pN0,Stage I,Unifocal
1,United States,Female,IA,pNX,Stage IV,Unifocal
2,United States,Female,IA,pN0,Stage I,Unifocal
3,NaN,NaN,NaN,NaN,NaN,NaN
4,United States,Female,IA,pNX,Stage I,Unifocal
...,...,...,...,...,...,...
99,Ukraine,Female,IA,pNX,Stage I,Unifocal
100,Ukraine,Female,II,pN0,Stage II,Unifocal
101,United States,Female,II,pN0,Stage II,Unifocal
102,Ukraine,Female,IA,pN0,Stage I,Unifocal
103,Ukraine,NaN,NaN,NaN,NaN,NaN

In [8]:
pd.concat([df_mapped[target_column_names], df_target[target_column_names]])

,participant_country,sex,tumor_stage_pathological,pathologic_staging_regional_lymph_nodes_pn,tumor_stage_pathological,tumor_focality
0,United States,Female,Stage IA,pN0,Stage IA,Unifocal
1,United States,Female,Stage IV,pNX,Stage IV,Unifocal
2,United States,Female,Stage IA,pN0,Stage IA,Unifocal
3,NaN,NaN,NaN,NaN,NaN,NaN
4,United States,Female,Stage IA,pNX,Stage IA,Unifocal
...,...,...,...,...,...,...
135,Poland,Male,Stage III,pN2,Stage III,Unifocal
136,China,Female,Stage III,pN2,Stage III,Unifocal
137,China,Male,Stage III,pN2,Stage III,Unifocal
138,Poland,Female,Stage III,pN2,Stage III,Multifocal
139,Poland,Female,Stage III,pN2,Stage III,Unifocal